<footer class="container-fluid bg-dark-9 text-white p-2 px-lg-5 pt-lg-5 pb-lg-2">
    <div class="row">
        <section class="col-12 col-lg-4">
            <h2 class="mb-3">Контакти</h2>
            <p class="mb-3">Курси по веб-дизайну для початківців. Ви зможете самостійно навчитись робити веб-сайт, для власного бізнесу, або під замовлення</p>
            <address>
                <ul class="list-unstyled">
                    <li class="mb-2">
                        <i class="fa fa-map-marker mr-2"></i> 
                        <span>м. Івано-Франківськ</span>
                    </li>
                    <li class="mb-2">
                        <i class="fa fa-phone mr-2"></i> 
                        <span>Tel: <a href="tel:+30685412069">(+3)068 541 2069</a></span>
                    </li>
                    <li class="mb-2">
                        <i class="fa fa-envelope mr-2"></i>
                        <span>Email: <a href="mailto:ihorlt@gmail.com">ihorlt@gmail.com</a></span>
                    </li>
                </ul>
            </address>
        </section>
        <section class="col-12 col-lg-4"></section>
        <section class="col-12 col-lg-4"></section>
    </div>
    <hr class="border-light mt-3">
    <div class="row">
        <div class="col-12">
            <p class="text-center">© 2020 Розроблено Лютак І. З.</p>
        </div>
    </div>
</footer>