<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head'); %>
</head>
<body>

<header>
    <%- include('partials/header'); %> 
</header>

<main role="main">

  <h1>Інформаційно-комунікаційні технології</h1>
    <h2>Git</h2>

      <section class="container">
        <div class="row">
          <div class="col-12">
            <h1>Створити нову гілку і переходимо на неї</h1>
            <p><code>git checkout -b назва-гілки</code></p>
            <h1>З'єднати гілки в одну (merge)</h1>
            <ol>
              <li>
                <h3>Записати зміни в локальний репозиторій гілки dev</h3>
                <p>Додати файли до індексу<code>git add назва файлу</code></p>
                <p>Записати зміни в локальний репозиторій гілки dev<code>git commit -m"коментар"</code></p>
                <p>Записати локальний репозиторій гілки dev на сервер<code>git push -u origin dev</code></p>
              </li>
              <li>Переходимо на гілку master куда ми хочемо додати код <code>git checkout master</code></li>
              <li>Об'єднуємо гілку master із гілкою dev <code>git merge dev</code></li>
              <li>Записати локальний репозиторій гілки master на сервер<code>git push -u origin master</code></li>
            </ol>
          </div>
        </div>
      </section>
  

  </main>

<footer>
    <%- include('partials/footer'); %>
</footer>

<script src="/js/jquery-3.5.1.min.js"></script>
<script src="/js/bootstrap.bundle.min.js"></script>
<script src="/js/app.js"></script>
</body>
</html>