<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head'); %>
</head>
<body>

<header>
    <%- include('partials/header'); %> 
</header>

<main role="main">

  <h1>Інформаційно-комунікаційні технології</h1>
  <h2>Проект</h2>

</main>


<%- include('partials/footer'); %>
<%- include('partials/scripts'); %>
</body>
</html>